.form {
  margin: 20px;
      margin: 0 auto;
        align-self: center;
}

.form input {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  font-size: 20px;
}

#formdiv {
  display: flex;
  flex-direction: column;
}

#emailinput {
width: 300px;
}

#nameinput {
width: 300px;
}

#messageinput {
width: 300px;
height: 200px;
}

#githubicon {
  margin-bottom: 10px;
}

#githubicon:hover {
  -webkit-box-shadow: 0px 0px 17px 3px rgba(78,
    221,
    231,
    0.945);
    box-shadow: 0px 0px 17px 3px rgba(78, 221, 231, 0.945);
}